# 服务器配置
server:
  address: 0.0.0.0 # IP访问地址
  port: 8888 # 端口
  servlet:
    context-path: /api # 访问路径开头
    # cookie 30 天过期
    session:
      cookie: # 自定义 cookie 属性
        max-age: 2592000 # 单位秒

# todo 公共配置文件
spring:
  application:
    name: springboot-template # 项目名称
  # 默认 dev 环境
  profiles:
    active: dev
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/springboot_template?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: root
  # Redis 配置
  redis:
    database: 1
    host: localhost
    port: 6379
    timeout: 5000
  # session 配置
  session:
    # todo 开启分布式 session（须先配置 Redis）
    store-type: redis
    # 30 天过期
    timeout: 2592000
  # 统一配置返回时间格式
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
# mybatis-plus 配置
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）


# todo 邮箱配置,根据自己的邮箱需求配置
email:
  hostName: smtp.qq.com # 邮箱域名
  emailAddress : ydg0814@qq.com # 邮箱地址
  password: mphrixxtyjdxdeah # 邮箱密码
  senderName: springboot-template # 发件人昵称
  sslSmtpPort: 465 # 邮箱端口
  mailTitle: 邮箱验证码 # 邮件标题
  content: 快速开发模板 # 邮件正文里的项目名称
  expireTime: 5 # 验证码过期时间，单位分钟

logging:
  file:
    # 日志文件路径,可以使用绝对路径和相对路径
    path: ${user.dir}/logs  # 当前项目根路径${user.dir}
    #path: E:/project_logs/springboot-template # 绝对路径
